.game {
    width: 1100px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    background-image: url('/assets/background/City3.png');
    background-size: cover;
}

#score {
    text-align: center;
}

#character {
    width: 100px;
    height: 100px;
    background-image: url('/assets/character/Run__003.png');
    background-size: 100px 100px;
    position: relative;
    top: 457px;
}

.jump{
    animation: jump 0.3s linear;
}

/* Keyframes are basically making the picture move from one position to the next 
position making it look like its animated. This is by moving the pixels from where 
its at to the next position. https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */
@keyframes jump {
    0% {
        top: 457px;
    }
    30%{
        top: 400px;
    }
    50%{
        top: 360px;
    }
    80%{
        top: 400px;
    }
    100%{
        top: 457px;
    }
}

#cone{
    width: 55px ;
    height: 55px;
    position: relative;
    top: 400px;
    left: 1044px;

    background-image: url("assets/block/PinClipart.com_orange-cone-clip-art_1874147.png") ;
    background-size: 55px 55px ;

    animation: obstacle 1s infinite linear;
}

@keyframes obstacle {
    0% {
        left: 1044px;
    }
    100%{
        left: -20px;
    }
}